doctype html
html
    head
        meta(charset="UTF-8")
        link(href="/build/combined.css",rel="stylesheet", type="text/css")
        script(src="/build/combined.js")
        title= pageTitle
    body

