doctype html
html
    head
        meta(charset="UTF-8")
        link(href="/build/combined.css",rel="stylesheet", type="text/css")
        title= pageTitle
    body(ng-app="kitApp")

        #container
            .kit-editor(kit-editor)
                button(ng-click="center()").btn-center click
                br
    script(src="/build/combined.js")


