[kit-rect], [kit-shape], [data-moniker*=rect] {
  fill: orange;
  stroke-width: 1.5;
  stroke: #000;
  // mix-blend-mode: difference;
}


[kit-custom-shape] {

  fill-rule: evenodd;

  &.dragging, &.dragging path {
    fill-opacity: .6;
    stroke-opacity: .6;
    cursor: move;
  }

}

[kit-gear] {
  .gear {
    fill-opacity: .85;
    stroke: gray;
    stroke-opacity: .25;
  }

  .gear-outer-circle {
    fill: #f50500;
    stroke: gray;
  }

  .gear-inner-circle {
    fill: #dd0903;
  }

}

[kit-triangle] {
  fill: #ff0000;
}

.screw {
  &.outer-hex {
    fill: grey;
    fill-opacity: .85;
  }

  &.inner-hex {
    fill: #000;
    fill-opacity: .85;
  }
}
