[kit-rect], [kit-shape] {
  fill: orange;
  stroke-width: 1.5;
  stroke: #000;
}



[kit-custom-shape] {

  fill-rule: evenodd;

  &.dragging, &.dragging path {
    fill-opacity: .6;
    stroke-opacity: .6;
    cursor: move;
  }

}

[kit-gear] {
  .gear {
    fill-opacity: .85;
    stroke: gray;
    stroke-opacity: .25;
  }

  .gear-outer-circle {
    fill: #f50500;
    stroke: gray;
  }

  .gear-inner-circle {
    fill: #dd0903;
  }

}